#top {
    text-align: center;
    color: white;
    font-size: 40px;
}

h1 {
    font-family: 'Monoton', cursive;
    margin-top: 20px;
}

#mid {
    text-align: center;

}

button {
    margin-top: 120px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    color: red;
    height: 120px;
    width: 120px;
    font-size: 60px;
    font-family: 'Chewy', cursive;
    padding-top: 17px;
    border-radius: 10px;
    border: 2px solid #87231C;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#last {
    text-align: center;
    color: white;
}

body {
    background-color: #283149;
}

#last {
    margin-top: 20%;
}

.w {
    background-image: url("images/tom1.png");
}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}

.k {
    background-image: url("images/crash.png");
}

.l {
    background-image: url("images/kick.png");
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}